<!--"extends" Extiende la plantilla base llamada base.html-->
{% extends "./base.html" %}
{%block title%} STYLE HAVEN Contactos{%endblock%}
{%block body%} <!--Inicia la seccion que contiene el contenido visible de la pagina web-->
<h1 style="text-align: center;">¿Quieres comunicarte con nosotros?</h1><!--Usando el atributo STYLE para centrar el titulo-->
<p>¡Claro que sí! Estamos aquí para ayudarte. Reserva tu sesión y deja que tu piel hable por sí sola</p>
<p>Si tienes alguna pregunta o simplemente deseas obtener más información sobre nuestros tratamientos, no dudes en ponerte en contacto con nosotros.
</p>
<br> <!--"br"Salto de línea-->
<p>Puedes comunicarte con nuestro equipo a través de:</p>
<p>¬Correo electrónico: 
    sevensecrets59@gmail.com</p>
<p>¬WhatsApp: 999914970</p>
<p><strong>Deje su Nombre, Apellidos, Correo Electrónico y Mensaje con su consulta para poder ayudarle.</strong></p>
<p><strong>¡Estaremos encantados de atenderte!</strong></p>
<br>
<!--Formulario de contacto para enviar un correo electrónico-->
<!--Creando el formulario que envia una solicitud POST a la ruta /send-email-->
<form action="/send-email" method="POST">
    <!--Campo de texto "Type=texto" para el nombre del cliente-->
    <div class="mb-3">
        <label for="nombreCliente" class="form-label">Nombre del Cliente</label>
        <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" required>
    </div>
    <!--Campo de texto "Type=texto" para el apellido del cliente-->
    <div class="mb-3">
        <label for="apellidoCliente" class="form-label">Apellidos del Cliente</label>
        <input type="text" class="form-control" id="apellidoCliente" name="apellidoCliente" required>
    </div>
    <!--Campo de correo electronico "Type=email" con el nombre Correo electronico-->
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con nadie más.</div>
    </div>
    <!--Campo de texto "Type=texto" para el mensaje-->
    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required></textarea>
    </div>
    <!--Crea el botón de envio "Type=submit" con el texto ENVIAR, para enviar el formulario-->
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<br>
<!--Encabezado nivel 4 centrado-->
<h4 style="text-align: center;">^-^ ¡Esperamos tu mensaje! ^-^</h4>
{%endblock%}