<!--"extends" Extiende la plantilla base llamada base.html-->
{% extends "./base.html" %}
{%block title%} SEVEN SECRETS Index{%endblock%}<!--Define el contenido del bloque title como "STYLE HAVEN Index".-->
{%block body%}<!--Inicia la seccion que contiene el contenido visible de la pagina web-->
<h1 style="text-align: center;"></h1><!--Usando el atributo STYLE para centrar el titulo-->
<!--IMG Define una imagen en HTML-->
<!--SRC Especifica la Ruta de la Imagen-->
<!--ALT es un texto alternativo para la imagen-->
<!--WIDTH Especifica el ancho de la imagen en Píxeles-->
<!--Usando el atributo STYLE para centrar horizontalmente el Logo de la Empresa-->
<img src="static/images/logo.jpg" alt="logo" style="display: block; margin-left: auto; margin-right: auto;" width="520">
<p style="text-align: center;"><strong>¿QUE ES SEVEN SECRETS?</strong>AQUI HAY QUE PONER EL PORQUE SE LLAMA SEVEN SECRETS, LOS 7 SECRETOS, 
</p>
<p>
    Tambien poner un footer, ahi poner la direccion, telefono, correo, redes sociales, etc 
</p>
{%endblock%}
