<!--"extends" Extiende la plantilla base llamada base.html-->
{% extends "./base.html" %}
{%block title%} STYLE HAVEN Nosotros{%endblock%}
{%block body%} <!--Inicia la seccion que contiene el contenido visible de la pagina web-->
<h1 style="text-align: center;">TU CENTRO DE ESTETICO DE SALUD Y     BELLEZA <span class="seven">SEVEN SECRETS</span></h1><!--Usando el atributo STYLE para centrar el titulo-->
<p><strong>SEVEN SECRETS</strong> es una empresa fundada por María Eugenia Haro Sánchez en Octubre de 2020.</p>
<p>
    Con más de 5 años de experiencia,desde su creación, <strong>SEVEN SECRETS</strong> se ha especializado en ofrecer una amplia gama de tratamientos de salud y estética, destacándose por su compromiso con la calidad y el bienestar de sus clientes brindar resultados visibles y experiencias inolvidables.
    Nuestro equipo de profesionales combina tecnología de última generación con técnicas personalizadas para brindarle resultados visibles y duraderos. Nos apasiona transformar vidas y hacer que cada visita sea una experiencia memorable.
</p>
<p>
    A lo largo de los años, <strong>SEVEN SECRETS</strong> ha logrado consolidarse como un centro de belleza y estética de confianza en la ciudad de <strong>Huancayo</strong>, gracias a su dedicación a la innovación y al cuidado personalizado de cada cliente. Además, la empresa continúa evolucionando y ampliando su oferta de servicios, manteniendo siempre su objetivo principal: proporcionar resultados visibles y duraderos que mejoren la autoestima y la salud de quienes eligen sus tratamientos.
</p>
{%endblock%}