<!--"extends" Extiende la plantilla base llamada base.html-->
{% extends "./base.html" %}
{%block title%} SEVEN SECRETS Servicios{%endblock%}
{%block body%} <!--Inicia la seccion que contiene el contenido visible de la pagina web-->
<section class="facial">
    <h1>TRATAMIENTOS FACIALES</h1>
    <h3>-DERMAPEN</h3>
    <p>💖✨ ¡Despídete de las cicatrices y dale la bienvenida a una piel radiante con Dermapen! ✨💖</p>
    <p>Disminuye poros y elimina las manchas</p>
    <p>S/40.00</p>
    <img src="static/images/dermapen.jpg" alt="Dermapen" width=500px length=500px>
    <h3>-Plasma</h3>
    <p>💕El plasma rico en PLAQUETAS es un concentrado plaquetario de segunda generación ampliamente utilizado para acelerar la cicatrización de tejidos blandos y duros</p>
    <p>Estimula, repara y rejuvenece el cutis</p>
    <p>Atenua las lineas ded expresion y las arrugas</p>
    <p>S/80.00</p>
    <img src="static/images/plasma.jpg" alt=plasma width=500px length=500px>
    <h3>-Lash Lifting</h3>
    <p> Trastrona tus pestañas con el Lash Lifting, un tratamiento que las curva y alarga de forma natural, sin necesidad de extensiones🌿💁‍♀️</p>
    <p>Planchado de cejas</p>
    <p>S/50.00</p>
    <img src="static/images/lifting.jpg" alt="Lifting" width=500px length=500px>
    <h3>-Botox Full Face</h3>
    <p>¿Las arrugas y las lineas de expresión te hacen ver mayor? es tiempo de desvanecerlas naturalmente y con un tratamiento comprobadao y muy recomendado para suavizar la expresión del rostro y evitar la aparición de las arrugas.</p>
    <p>Eliminamos tus arrugas</p>
    <p>S/0.00</p>
    <img src="static/images/botox.jpg" alt="Botox" width=500px length=500px>
    <h3>-Labios de encanto</h3>
    <p>💋Aumento de labios con acido Hialurónico</p>
    <h5>✨Hidrata y aumenta el volumen de tus labios.
        ✨Obtén una forma ideal y simétrica.
        ✨Resultados inmediatos y naturales.
        ✨Sin cirugía.</h5>
    <h6>S/0.00</h6>
    <img src="static/images/labios.jpg" alt="Labios" width=500px length=500px>
    <h3>-Limpieza facial</h3>
    <p>¡Descubre los increibles beneficios de una limpieza facial!🌿💆‍♀️</p>
    <p>Elimina impurezas y células muertas para una piel más luminosa.
        Reduce la aparición de poros y previene brotes de acné.
        Mejora la absorción de tus productos de cuidado de la piel.
        Ayuda a prevenir el envejecimiento prematuro.
        Promueve una tez más uniforme y suave.
        ¡Invierte en ti hoy mismo y disfruta de tu piel! ✨</p>
    <p>S/80.00</p>
    <img src="static/images/limpiezafacial.jpg" alt="Limpieza facial" width=500px length=500px>
    <h3>-Rinomodelación</h3>
    <p>Luce una nariz hermoza con nuestra Rinomelación avanzada</p>
    <p>La rinomodelación es una técnica rápida, no invasiva, poco dolorosa y con un coste menor al de la rinoplastia, debido a su fácil aplicación, se puede realizar evitando el quirófano, siendo la alternativa perfecta. Con ella podemos corregir pequeñas irregularidades en el contorno nasal, así como el levantamiento de la punta</p>
    <p>S/400.00</p>
    <img src="static/images/rino.jpg" alt="rinomodelacion" width=500px length=500px>
    <h3>-Lifting Facial</h3>
    <p>Lifting facial con acido Hialurónico</p>
    <p>No se trata sólo de “Rellenar las arrugas” se trata de identificar las zonas del rostro donde se han perdido los puntos de anclaje y sujeción del rostro, para actuar primero en esos puntos antes de reponer volumen, puesto que lo que se desea es un verdadero efecto lifting, por lo tanto antes de hacer un lifting facial, el análisis completo de la cara de cada paciente y el entendimiento de su propio proceso de envejecimiento es esencial, para el éxito del tratamiento facial con ácido hialurónico.</p>
    <p>S/0.00</p>
    <img src="static/images/liftingfacial.jpg" alt="lifting facial" width=500px length=500px>
</section>
<section class="corporal">
    <h1>TRATAMIENTOS CORPORALES</h1>
    <h3>Hidrolipoclasia</h3>
    <p>Te traemos un super tratamiento de Hidrolipoclasia Corporal en 4 Zonas
        a un super precio date el gusto con este super tratamiento Es hora de lucir genial
    </p>
    <p>ZONA A ELECCIÓN
        🌷 Abdomen Bajo
        🌷 Abdomen Alto
        🌷 Cintura
        🌷 Espalda Alta
        🌷 Espalda Baja
        🌷 Brazos
        INCLUYE
        🌷 1 S. de Lipolaser
        🌷 1 S. de Ultracavitador 4K
        🌷 1 Hidrolipoclasia Infiltrativa
        🌷 1 S. Ultrasonido
        🌷 1 S. Drenaje Linfático</p>
    <h6>S/250.00</h6>
    <img src="static/images/hidro.jpg" alt="Hidrolipoclasia" width=500px length=500px>
    <h3>-Levantamiento de Gluteos</h3>
    <p>¿Levantamiento de glúteos sin cirugía?
        Es una técnica que ayuda a aumentar el tamaño se los glúteos, crean un vacío ascendente con el fin de darle un aspecto más redondo y voluminoso al glúteo. 
    </p>
    <p>NOSOTRAS PODEMOS AYUDARTE!🍑🔥
        ☘️ Reafirma
        ☘️ Moldea
        ☘️ Tonifica
        ☘️ Combate la celulitis
        ☘️ Activa la renovación celular
        💝 Incluye:
        ✨ Peptonas
        ✨ Ondas Rusas
        ✨ Vacunterapia
        ✨ Drenaje linfático
        ✨ Maderoterapia
    </p>
    <p>S/0.00</p>
    <img src="static/images/gluteos.jpg" alt="gluteos" width=500px length=500px>
    <h3>-Carboxiterapia</h3>
    <p>Moldea tu silueta con nuestro progama de Carboxiterapia</p>
    <p>Beneficios de nuestro tratamiento:
        ✔️ Pierde la grasa
        ✔️ Mejora la circulación
        ✔️ Reduce la celulitis
    </p>
    <img src="static/images/carboxiterapia.jpg" alt="Carboxiterapia" width=500px length=500px>
    <h3>Tratamiento Post-Liposucción</h3>
    <p>😱¿Fibrosis abdominal? ¡Evítala! Y consigue el mejor resultado 😉🙌⏲en pocas sesiones!</p>
    <p>
        La fibrosis subcutánea se manifiesta después de una cirugía, usualmente en los casos de liposucción y es un proceso natural de cicatrización cuando hay una retracción durante el proceso de curación de una herida.
    </p>
    <p>En las liposucciones se manifiestan como irregularidades que se dan a través de la piel.</p>
    <p>Te asesoramos y brindamos la solución, realizando los siguientes tratamientos:
        🔹 Masajes de drenajes linfáticos
        🔹 Ultrasonido
        🔹️ Mesoterapia con enzimas
        🔹 Carboxiterapia
        🔹 Uso adecuado de faja
    </p>
    <p>S/0.00</p>
    <img src="static/images/liposuccion.jpg" alt="liposuccion" width=500px length=500px>
    <h3>-Lipo sin Cirugia</h3>
    <p>¿Sueñas con una cintura der avispa, tonificada y libre de flacidez?  
        ¡Tenemos la solución que estas buscando!
    </p>
    <p> Beneficios:
        Reducción de la celulitis y la piel de naranja.
        Reafirmación de la piel, mejorando la elasticidad y la apariencia.
        Tonifica y reafirma la piel sin dolor.
        Como si estarías haciendo 1000 abdominales 
    </p>
    <p>S/0.00</p>
    <img src="static/images/postlipo.jpg" alt="lipo" width=500px length=500px>
</section>
{%endblock%}